@import url(../../VariablesStyle.css);

.contentHomePerfil {
    height: 100vh;
	margin: 0 128px;
    display: flex;
    flex-direction: column;   
    padding-top: 2%; 
    gap: 2rem;
}

.perfilMenu h2 {
    font-weight: bold;
    color: var(--color-dark);
}

.contentHistorico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #676D5650;
    padding-top: 2%;
    padding-bottom: 2%;
}