.sideImage  {
   object-fit: contain;
}

@media (max-width:1200px) {
	.sideImage  {
     width: 50%;
   }
   .sideImage  {
      object-fit: cover;
   }
}

@media (max-width:710px) {
	.sideImage  {
    display: none;
   }
}